# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/
# Virtual environment
aimoller/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs and databases
*.log
*.sqlite3
*.db

# Streamlit cache
.streamlit/

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.whl
